 #home{
    font-size: 14px;
    margin-left: 10px;
    font-weight: 100;
    color: gray;
  } 
  span{
    color: gray;
  }
/* 
 *body{
   width: 70%;
   margin: auto;
 } */
  .exp{
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-left: 10px;
  }
  
  span{
    font-size: 15px;
  }
  div>h3{
    font-size: 30px;
    font-weight: 400;

  }
  /* *** box */
   #wine{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: (5,auto);
    /* border: 1px solid black; */
    text-align: center;
    align-content:center ;
    margin: auto;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    margin-bottom: 10px;
  }
  
  #wine>div{
    border: 1px solid rgb(230, 223, 223);
    border-radius: 10px;
    /* margin: !auto; */
     margin: 10px;
     width: 95%;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  #wine>div:hover{
    box-shadow: rgba(252, 248, 248, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  
  .prodImg{
      width: 80%;
      margin-top: 30px;
      margin-right: 1px;
      /* box-shadow: 1px 2px #efe9e9; */
      /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      border: 1px solid rgb(214, 205, 205);
      border-radius: 10px;
  }
   .prodImg:hover{
    box-shadow: rgba(153, 55, 55, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border: #492130;
   }

  .min{
    border: 0.5px solid #b61671;
       border-radius: 10px;
       font-size: 12px;
       margin-left: 10px;
       color: #880033;
       background: #d0b28b17; 
   }
  
   .mrp{
    background-color:  #f7f4f4;
    border-radius: 10px;
     padding: 10px;
     margin: auto;
     margin-bottom: 8px;
     padding-top: 10px;
     padding-bottom: 10px;
  }


 #add{
       background-color:  #98ca48;
       border-radius: 10px;
       color: rgb(240, 240, 240);
       margin-left: 10px;
       margin-bottom: 8px;
       padding-top: 10px;
       padding-bottom: 10px;
   }
   
   #add:hover{
     background-color: rgb(44, 121, 44);
   }
  
  
   #TOP{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-left: 10PX;
   }
  
   #sortMrp{
      border: transparent;
   } 

   a{
     text-decoration: none;
   }
  
   .brand{
    font-size: 17px;
    color: #a72756;
    line-height: 28px;
  }
  
  
   
